<sdf xmlns:xacro="http://xacro">
    <xacro:property name="PI" value="3.14" />
    <xacro:property name="base_mass" value="2" />
    <xacro:property name="bodylen" value=".6" />
    <xacro:property name="base_x" value="2.2" />
    <xacro:property name="base_y" value="1" />
    <xacro:property name="base_z" value="0.1" />
    <xacro:property name="wheel_mass" value="2" />
    <xacro:property name="wheel_r" value="0.5" />
    <xacro:property name="wheel_l" value="0.1" />
    
</sdf>