<sdf xmlns:xacro="http://dd">
    <xacro:include uri="file://data.xacro" />
    <xacro:include uri="file://common.xacro" />
    <xacro:property name="base_mass" value="100" />
    <xacro:python>
    <![CDATA[
import numpy as np 
def foo(): 
    if 2 > 5: 
        return 5,3,2
    global np
    b = np.array([0,1])
    x = 3433
    u = 324
    return x,u,b
temp = foo()
return_values = {'x': temp[0], 'u': temp[1], 'b': temp[2]}
]]>
    </xacro:python> 

    <model name='heavy_base'>
        <pose>0 0 0 0 0 0</pose>
        <link name="heavy_base_link">
            <!-- position the base such that the bottom touches the floor -->
            <pose>0 0 0.05 0 0 0</pose>
            <inertial>
                <!-- use here of python x value -->
                <xacro:inertia_box m="100" x="${x}" y="1" z="0.1" />
            </inertial>
            <!-- Same geometry as visual -->
            <collision name="heavy_base_collision">
                <geometry>
                    <box>
                    <!-- use here of python x value -->
                        <size>${x} 1 0.1</size>
                    </box>
                </geometry>
            </collision>
            <!-- Same geometry as collision -->
            <visual name="heavy_base_visual">
                <geometry>
                    <box>
                        <size>2.2 1 0.1</size>
                    </box>
                </geometry>
                <material>
                    <ambient>0 0 1 1</ambient>
                    <diffuse>0 0 1 1</diffuse>
                    <specular>0 0 1 1</specular>
                </material>
            </visual>
        </link>
    </model>
</sdf>